llvmlite
scikit-learn==1.0.2
ninja==1.10.2.3
gdown
easydict==1.13
PyYAML==6.0
protobuf==3.19.4
tensorboard==2.8.0
tqdm==4.62.3
h5py==3.6.0
matplotlib==3.5.1
wandb
setuptools==69.5.1
Cython==0.29.28
pandas
einops